a {
    color: #337ab7;
    text-decoration: none;
}
a:hover {
    color: #23527c;
    text-decoration: underline;
}
body {
    background: url('../img/stripe.png') repeat fixed;
    font-family: Georgia, serif;
    line-height: 1.5;
    margin: 5% 10%;
    text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Tahoma, Calibri, Arial, sans-serif;
    border-bottom: 1px solid #cccccc;
    line-height: 1.3;
    padding-bottom: 0.2em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    padding: 0.5em 0 0.5em 0;
}
li {
    background-color: inherit;
    transition: all 0.3s;
}
li:nth-child(2n) {
    background-color: #f8f8f8;
    transition: all 0.3s;
}
li:hover {
    background-color: #e6f3ff;
    transition: all 0.3s;
}
.container {
    background: #ffffff;
    box-shadow: 0px 0px 15px #999999;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em;
}
.container iframe {
    display: none;
}
.header-anchor {
    display: inline-block;
    font-weight: normal;
    margin-left: -0.85em;
    padding-right: 0.1em;
}
.collapsed {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
}
.collapse-button {
    cursor: pointer;
    float: right;
    margin-top: 0.3em;
    font-size: 0.8em;
}
.header-anchor, .collapse-button {
    color: #ffffff;
    transition: all 0.5s;
}
h1:hover .header-anchor, h2:hover .header-anchor, h3:hover .header-anchor, h4:hover .header-anchor, h5:hover .header-anchor, h6:hover .header-anchor,
h1:hover .collapse-button, h2:hover .collapse-button, h3:hover .collapse-button, h4:hover .collapse-button, h5:hover .collapse-button, h6:hover .collapse-button,
.collapsed .collapse-button {
    color: #cccccc;
    text-decoration: none;
    transition: all 0.5s;
}
.header-anchor:hover, .collapse-button:hover {
    color: #999999 !important;
}
