a {
    color: #337ab7;
    text-decoration: none;
}
a:hover {
    color: #23527c;
    text-decoration: underline;
}
body {
    background: url('../img/stripe.png') repeat fixed;
    font-family: Georgia, serif;
    line-height: 1.5;
    margin: 5% 10%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Calibri, Arial, sans-serif;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 0.2em;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    padding: 0.5em 0 0.5em 0;
}
li:nth-child(2n) {
    background-color: #f8f8f8;
}
li:hover {
    background-color: #e6f3ff;
}
.container {
    background: #ffffff;
    box-shadow: 0px 0px 15px #999999;
    padding: 2em;
}
